/*general styles*/

body {
    background-color: #234a6c;
    font-family: soleil, sans-serif;
    font-style: normal;
    font-weight: 300;
    color: #234a6c;
}

* {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    color: #f2ece9;
}

a:focus, a:visited {
    color: #e4eed7;
    background-color: transparent;
}

.nav-pills a:focus, .nav-pills a:hover {
    background-color: transparent !important;
}

a:hover {
    color: #ce4141;
    background-color: transparent;
}

h1,
h2,
h3,
h5 {
    font-family: grad, serif;
    font-style: normal;
    font-weight: 900;
}

.header-container h1{
    display: flex;
    flex-wrap: wrap;
}

.header-container h1 * {
    width: 100%;
}

span.second-header {
    font-family: soleil, sans-serif;
    font-style: normal;
    font-weight: 900;

}

h2 {
    font-size: 2em !important;
}

h3 {
    letter-spacing: 3px;
}

p {
    text-align: center;
}

img {
    display: block;
    margin: auto;
    width: 100%;
    object-fit: cover;
}

[data-scroll] {
  transition: opacity 1.5s;
}
[data-scroll="in"] {
  opacity: 1;
}
[data-scroll="out"] {
  opacity: 0;
}

span.icon-bar {
    background-color: #f2ece9 !important;
}

/*section styles*/
#home, #about, #portfolio, #contact {
    max-width: 2400px;
    margin: auto;
}

#portfolio {
    background: #f2ece9;
}

#portfoliotitle {
    color: #234a6c !important;
}

#about {
    background: #234a6c;
    padding-bottom: 50px;
}

#about h2 {
    color: #ce4141;
}

#contact {
    background: #ce4141;
    padding-bottom: 50px;
}

#contact h2 {
    color: #234a6c;
}

#home {
    padding-top: 0;
    padding-bottom: 0;
}

.jumbotron {
    text-align: center;
    margin-bottom: 0;
    margin-top: 40px;
    padding-bottom: 0;
    background: none;
}

img.loading {
    margin: auto;
    position: relative;
    top: 44%;
    max-width: 40px;
    animation: spin 3s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/*nav menu styles*/
li a {
    color: #f2ece9;
    padding: 10px 20px;
}

.nav-pills li a::after {
    content: "";
    position: absolute;
    bottom: 4px;
    left: 5%;
    width: 0;
    height: 1px;
    opacity: 0;
    background-color: #ce4141;
  }

  .nav-pills li a:hover::after {
  opacity: 1;
  width: 90%;
  transition: all 0.2s ease-in-out;
  transition-duration: 0.55s;
  }

  .nav-pills li a.active::after {
      transition: none;
      width: 90%;
      opacity: 1;
  }

  .nav-pill li a:hover {
      background: transparent !important;
  }

.navbar-inverse {
    background-color: #234a6c;
    border: none;
}

.navbar-header {
    text-align: center;
    float: none;
    padding: 5px 0;
    margin: 0;
}

#logo {
    max-width: 70px;
}

button.navbar-toggle:hover {
    background: transparent !important;
}

button.navbar-toggle {
    background: transparent !important;
    margin-top: -12px !important;
    margin-right: -17px !important;
}

/* parallax effect */
.parallax {
    perspective: 1px;
    overflow-x: hidden;
    overflow-y: auto;
    perspective-origin-x: 100%;
  }
  .parallaxlayer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform-origin-x: 100%;
  }
  .parallaxlayer-base {
    transform: translateZ(0);
  }
  .parallaxlayer-back {
    transform: translateZ(-1px) scale(1);
  }


/*home section styles*/
.cover {
    background:#f2ece9f2 url(images/headercover.jpg) center left no-repeat fixed;
    background-blend-mode:screen;
    height: 100vh;

    width: 100%;
    overflow: hidden;
    object-fit: cover;
    position: relative;
    top:0;
    left:0;
    margin:auto;
}

.cover-portfolio {
    background:#f2ece9e8 url(images/portfoliotexture.jpg) center left no-repeat fixed;
    background-blend-mode:screen;
    min-height: 2500px;
    height: 100%;
    max-width: 2400px;
    width: 100%;
    overflow: hidden;
    object-fit: cover;
    position: relative;
    margin:auto;
}


#hello {
    margin: auto;
    padding: 20px 0 12rem 0;
    width: 100%;
}

.center {
    color: #234a6c;
    position: relative;
    top: 8rem;
    padding: 81px 5px;
    width: 100%;

}

button.discover {
    border: double 5px #b3c9d5;
    font-family: grad, serif;
    font-style: italic;
    font-size: 1.5rem;
    background: none;
    color: #234a6c;
    padding: 8px 30px;
    width: auto;
}

.lead {
    padding: 0;
    margin: 0;
    font-size: 15px;
}

.linebreak {
    max-width: 300px;
    position: relative;
    top: 40px;
    margin: auto;
    padding: 22px 30px;
}

.arrow-down {
    padding-top: 45px;
    max-width: 35px;
}


/*about section styles*/

#aboutmetitle {
    margin: auto;
    width: 100%;
    padding: 20px 5px 0 5px;
}

.pic {
    margin: auto;
    max-width: 220px;
    height: 220px;
    width: 100%;
    border: 3px solid #ce4141;
}

.about {
    margin: auto;
    padding: 0 15px;
    font-size: 120%;
    line-height: 180%;
    text-align: center;
    color: #f2ece9;
}

.about h3 {
    margin: auto;
    padding: 5px;
    font-size: 1.2em;
}

.about h4 {
    margin: auto;
    padding: 10px 0 20px;
}

ul.flex-table {
    list-style-type: none;
    font-size: 5rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

div.flex-row {
    margin: auto;
    display: flex;
}

li.flex-cell i,
.about .flex-cell h4 {
    margin: 0 auto;
    padding: 25px;
}


.buttons {
    text-align: center;
    margin: auto;
}

.buttons .btn {
   border: solid 2px #ce4141;
   margin: 0 auto 10px;
   
}

.buttons .btn:hover {
    background-color: #b3c9d5;
    border: solid 2px #234a6c;
}

/*portfolio styles*/
#portfoliotitle {
    padding: 20px 5px 100px 5px;
    margin: auto;
    width: 100%;
}

.portfolio {
    width: 100%;
    max-width: 550px;
    padding: 0;
}

.container-portfolio {
    padding: 0;
}

.photobackground {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    margin: 20px;
    background-color: rgba(38, 58, 58, .8);
    display: flex;
    align-items: center;
    visibility: hidden;
    font-family: 'Lilita One', cursive;
    font-size: 5em;
}


.grid-sizer,
.grid-item {
    width: 100%;
}

.grid-item{
    padding: 20px;
}

.grid-item:hover .photobackground {
    visibility: visible;
    transition: all 0.4s ease-in;
}

.grid-item .projecttitle {
    opacity: 0;
    margin-left: 4%;
}

.grid-item:hover .projecttitle {
    opacity: 1;
    transition: all 0.6s ease-in;
    
}




/*contact styles*/

#contacttitle {
    padding: 20px 50px 0 50px;
    margin: auto;
    width: 100%;
}

.text {
    padding: 40px;
    width: 100%;
}

form input {
    margin: 10px 0;
    padding: 6px;
    border: none;
    font-size: 1.5rem;
    width: 70%;
    display: flex;
    border-radius: 4px;
}

form .btn {
    margin: 20px auto;
    width: 100%;
    display: flex;
    justify-content: center;
}

form textarea {
    display: flex;
    width: 100%;
    height: 130px;
    margin: auto;
    padding: 12px;
}

.header,
.footer {
    padding-right: 15px;
    padding-left: 15px;
}

.btn {
    text-align: center;
    margin: 25px auto;
    border-radius: 4px;
    font-family: 'Lilita One', cursive;
    color: #ce4141;
    font-size: 20px;
    background: #234a6c;
    padding: 10px 80px;
    border: solid 3px #ce4141;
}

.btn:hover {
    background: #ce4141;
    color: #234a6c;
    text-decoration: none;
    border: solid 3px #234a6c;
}

/* footer styles */
.header,
.footer {
    padding: 0 15px;
}

.footer {
    padding: 30px 0 25px 0;
    color: #f2ece9;
    background-color: #234a6c;
    height: 130px;
}

.socialmedia {
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 0 auto 20px;
    padding: 0 !important;
}

.socialmedia>a {
    margin: 5px;
    padding: 10px;
}

.socialmedia li {
    list-style-type: none;
}


/* Responsive */
@media (max-width: 768px) {}

@media screen and (min-width: 768px) {
    .header,
    .footer {
        padding-right: 0;
        padding-left: 0;
    }
    .header {
        margin-bottom: 30px;
    }
    img {
        display: block;
        margin: auto;
    }

    .grid-sizer,
    .grid-item {
        width: 33.333%;
    }
    .item {
        margin: auto;
        width: 100%;
        max-width: 900px;
    }
    .container {
        max-width: 3000px;
        width: 100%;
    }
    .container-narrow>hr {
        margin: 30px 0;
    }
    .flex-container {
        display: flex;
        max-width: 100%;
        flex: 100%;
        padding-bottom: 20px;
    }
    .container-cover {
        height: 100%;
    }
    .navbar-inverse {
        background: none;
    }
    .row.shrink {
        background-color: #234a6c;
        -webkit-transition: all 0.4s ease .2s;
        transition: all 0.4s ease .2s;
    }
    #logo {
        display: block;
        width: 100px;
        padding: 15px 0;
        -webkit-transition: all 0.4s ease;
        transition: all 0.4s ease;
    }
    #logo2 {
        display: none;
    }
    .row.shrink #logo2 {
        display: block;
        padding: 0;
        width: 125px;
        margin-bottom: 0;
    }
    .icon {
        padding-top: 60px;
    }
    #hello,
    #aboutmetitle,
    #portfoliotitle,
    #contacttitle {
        padding: 40px 0 25px 0;
        margin: auto;
        width: 95%;
        max-width: 700px;
    }
    #hello {
        padding-bottom: 0;
    }
    #portfoliotitle {
        padding-bottom: 100px;
    }
    .center {
        position: relative;
        top: 130px;
        padding: 10px 5px;
        margin: auto;
    }
    .linebreak {
        margin: 42px auto;
        position: relative;
        top: 150px;
    }
    .pic {
        margin: 15px auto;
        max-width: 250px;
        height: 250px;
    }
    .about {
        max-width: 90%;
        display: flex;
        align-items: center;
        flex-direction: row;
    }
    .about .biocontainer {
    width: 50%;
    margin: 5px;
    }

    .about .skillscontainer {
    width: 50%;
    margin: 30px;
    }
    .about h3 {
        font-size: 1.5em;
    }
    .about p {
        padding-bottom: 20px;
    }

    ul.flex-table li.flex-cell {
        font-size: 60px;
        padding: 15px;
    }
    .portfolio {
        margin: auto;
        width: 100%;
        max-width: 3000px;
        padding: 2px;
    }
    .cover-portfolio {
    min-height: 1500px;
    max-width: 1500px;
    width: 100%;
    overflow: hidden;
    position: relative;
    margin:auto;
    }
    .coverbackground-portfolio {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: 200px;

    }
    input {
        color: #234a6c;
        background: #f2ece9;
        margin: 5px 0;
        width: 50%;
        padding: 5px;
        border: none;
        display: flex;
        border-radius: 4px;
    }
    textarea {
        color: #234a6c;
        width: 100%;
        height: 130px;
        margin: auto;
        padding: 12px 20px;
        box-sizing: border-box;
        border: none;
        border-radius: 4px;
        background-color: #f2ece9;
        resize: none;
    }
    form {
        margin: auto;
        width: 40%;
    }
    form .btn {
        margin: 20px 0;
        display: flex;
    }
}