

:root{
  --navy: #234a6c;
  --beige: #f2ece9;
  --red: #ce4141;
  --lightblue: #b3c9d5;
}



/*general styles*/




body {
  background-color: #F4EED7;
  font-family: 'Gilda Display', serif;
  color: #263A3A;
}

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  color: #F4EED7;
}

a:focus {
  color: #E9C322;
}

a:hover {
  color:#E9C322;
}


h1, h2, h3, h5 {
  font-family: 'Lilita One', cursive;
  color: #263A3A !important;
}

p {
 text-align: center;
}

img {
   display: block;
    margin: auto;
    width: 100%;
   object-fit: cover;
}

/*section styles*/


#about {
    padding-bottom: 50px;
 }

.jumbotron {
  text-align: center;
  margin-bottom: 0;
  margin-top: 40px;
  padding-bottom: 0;
  background: none;
}

/*nav menu styles*/
li a {
  color: #263A3A;
  font-size: 1.2em;
  margin: 10px;
  padding: 10px 30px !important;
}

li a.active {
  background-color: #f4eed7 !important;
  color: #263A3A !important;
}

 .nav-pills a:hover {
  color: #F4EED7 !important;
  background: #263A3A !important;
}

.nav-pills li a:focus {
  color: #F4EED7;
  background-color: transparent;
}

.navbar-inverse {
    background-color: transparent;
    border: none;
}

.navbar-header {
    text-align: center;
    float: none;
}

.row #logo2 {
display: none;
}

button.navbar-toggle:hover {
  background: transparent !important;
}

button.navbar-toggle{
  background: transparent !important;
  margin-top: -5px !important;
  margin-right: -15px !important;
}

/*project page styles*/

ol {
  font-weight: 600;
  text-align: left;
  margin: 0 auto 30px;
}

.pic {
  margin: auto;
  max-width: 700px;
  padding: 15px;
  width: 100%;
}

.about {
margin: auto;
padding: 0 5px;
font-size: 120%;
line-height: 200%;
text-align: center;
color: #263A3A;
}

.about h3 {
margin: auto;
padding: 5px;
font-size: 1.2em;
}

.about h4 {
    margin: auto;
    font-weight:600;
    padding: 20px 0 10px;
}

.text {
  padding: 40px;
  width: 100%;
}

.btn {
  text-align: center;
  margin: 15px auto;
  border-radius: 4px;
  font-family: 'Lilita One', cursive;
  color: #E9C322;
  background: #263A3A;
  padding: 5px 40px;
  border: solid 3px #263A3A;
}

.btn:hover {
  background: #E9C322;
  color: #263A3A;
  text-decoration: none;
  border: solid 3px #263A3A;
}

/* footer styles */
.header,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

.footer {
  padding: 30px 0 25px 0;
  color: #f4eed7;
  background: #263A3A;
}

.footer p {
  text-align: center;
}

.socialmedia {
  text-align: center;
  margin-bottom: 20px;
}

.socialmedia > a {
  margin: 5px;
  padding: 10px;
}


.flexwrap {
  display: flex;
  flex-flow: row wrap;
  align-items: baseline;

}

.column {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

@media (max-width: 768px) {
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  
  .container {
    max-width: 1500px;
	width: 100%;
	padding: 0 15px;
  }

.container-narrow > hr {
  margin: 30px 0;
}

#nav.affix {
    position: fixed;
    top: 0;
    width: 100%;
    z-index:20;
}

  .header,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  
  .header {
    margin-bottom: 30px;
  }

   img {
	display: block;
	margin: auto;
   }

   h1, h2, h3, h5 {
    font-size: 1em;
 }

.item {
 margin: auto;
	width: 100%;
	max-width: 900px;
}

.flex-container {
  width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    justify-content: center;
    padding-bottom: 20px;
}

.flexwrap {
  flex-flow: column wrap;
  align-items: center;
  justify-content: stretch;
}

.projectbrieftitle {
  align-self: stretch;
  padding: 20px;
}

 #aboutmetitle {
  margin: 0 auto;
  padding-top: 20px;
}

 .pic {
    margin: 15px auto;
    max-width: 1200px;
 }
 
 .about {
  max-width: 75%;
  }

.about h3 {
  font-size: 1.5em;
}

.about p {
    padding-bottom: 20px;
}

   .socialmedia > a {
       margin: 10px;
   }

}